<main class="relative w-full min-h-screen grid grid-cols-1 lg:grid-cols-2 overflow-hidden shadow-none border-none">
    
    <section class="hidden lg:flex flex-col justify-between p-12 bg-[#0B1326] relative overflow-hidden">
        <div class="relative z-10">
            <div class="flex items-center gap-2 mb-10">
                <span class="text-2xl font-black tracking-tighter text-[#DAE2FD]">ChatRMI</span>
            </div>
            <h1 class="text-5xl font-extrabold tracking-tight leading-tight mb-6 mt-60 text-[#DAE2FD]">
                Bem vindo(a) <br/>
                <span class="text-[#2563EB]">ao ChatRMI.</span>
            </h1>
            <p class="text-[#C3C6D7] text-lg max-w-sm">
                Um simples espaço para conversas profundas com outros usuários.
            </p>
        </div>
        <div class="absolute inset-0 z-0 opacity-20">
            <img alt="Night background" class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?auto=format&fit=crop&w=1200&q=80"/>
            <div class="absolute inset-0 bg-gradient-to-t from-[#0B1326] via-transparent to-transparent"></div>
        </div>
    </section>

    <section class="p-8 md:p-16 flex flex-col justify-center bg-[#0B1326]">
        <div class="w-full max-w-md mx-auto">
            <header class="mb-10 text-center lg:text-left">
                <h2 class="text-3xl font-bold tracking-tight text-[#DAE2FD] text-center mb-2">Crie conexões com ChatRMI!</h2>
                <p class="text-[#C3C6D7] text-center">Seja bem-vindo ao nosso espaço.</p>
            </header>

            <form (ngSubmit)="onRegister()" class="space-y-6">
                <div class="relative flex items-center py-2">
                    <div class="flex-grow border-t border-[#434655]/50"></div>
                    <span class="flex-shrink mx-4 text-xs font-bold uppercase tracking-widest text-[#C3C6D7]">Crie a sua conta</span>
                    <div class="flex-grow border-t border-[#434655]/50"></div>
                </div>

                <div class="space-y-4">
                    <div class="space-y-2">
                        <label class="text-sm font-semibold text-[#DAE2FD] ml-1" for="name">Nome</label>
                        <div class="relative group">
                            <lucide-icon [name]="User" 
                                class="absolute left-2.5 top-1/2 -translate-y-1/2 w-5 h-5 text-[#C3C6D7] transition-colors group-focus-within:text-[#2563EB]">
                            </lucide-icon>
                            <input [(ngModel)]="name" name="name" type="text" id="name" placeholder="Seu nome completo"
                                class="w-full pl-14 pr-4 py-4 rounded-xl bg-[#171F33] border border-[#434655]/50 focus:border-[#2563EB]/50 focus:ring-4 focus:ring-[#2563EB]/10 text-[#DAE2FD] placeholder:text-[#C3C6D7]/40 transition-all outline-none" />
                        </div>
                    </div>

                    <div class="space-y-2">
                        <label class="text-sm font-semibold text-[#DAE2FD] ml-1" for="email">Email</label>
                        <div class="relative group">
                            <lucide-icon [name]="Mail" 
                                class="absolute left-2.5 top-1/2 -translate-y-1/2 w-5 h-5 text-[#C3C6D7] transition-colors group-focus-within:text-[#2563EB]">
                            </lucide-icon>
                            <input [(ngModel)]="email" name="email" type="email" id="email" placeholder="email@exemplo.com"
                                class="w-full pl-14 pr-4 py-4 rounded-xl bg-[#171F33] border border-[#434655]/50 focus:border-[#2563EB]/50 focus:ring-4 focus:ring-[#2563EB]/10 text-[#DAE2FD] placeholder:text-[#C3C6D7]/40 transition-all outline-none" />
                        </div>
                    </div>

                    <div class="space-y-2">
                        <label class="text-sm font-semibold text-[#DAE2FD] ml-1" for="password">Senha</label>
                        <div class="relative group">
                            <lucide-icon [name]="Lock" 
                                class="absolute left-2.5 top-1/2 -translate-y-1/2 w-5 h-5 text-[#C3C6D7] transition-colors group-focus-within:text-[#2563EB]">
                            </lucide-icon>
                            <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" name="password" id="password" placeholder="••••••••"
                                class="w-full pl-14 pr-14 py-4 rounded-xl bg-[#171F33] border border-[#434655]/50 focus:border-[#2563EB]/50 focus:ring-4 focus:ring-[#2563EB]/10 text-[#DAE2FD] placeholder:text-[#C3C6D7]/40 transition-all outline-none" />
                            
                            <button (click)="togglePassword()" type="button" class="absolute right-5 top-1/2 -translate-y-1/2 text-[#C3C6D7] hover:text-[#DAE2FD] transition-colors cursor-pointer">
                                <lucide-icon [name]="showPassword ? Eye : EyeOff" class="w-5 h-5"></lucide-icon>
                            </button>
                        </div>
                    </div>
                </div>

                <button type="submit" 
                    class="w-full py-4 rounded-xl mt-10 bg-[#2563EB] hover:bg-[#1D4ED8] text-white font-bold text-lg  active:scale-[0.98] transition-all duration-300 relative overflow-hidden group cursor-pointer">
                    <span class="relative z-10">Finalizar Cadastro</span>
                    <div class="absolute inset-0 bg-white/10 translate-y-full group-hover:translate-y-0 transition-transform duration-300"></div>
                </button>
            </form>

            <footer class="mt-10 text-center">
                <p class="text-[#C3C6D7]">
                    Já possui conta? 
                    <a class="text-[#2563EB] font-bold hover:underline underline-offset-4 decoration-2" routerLink="/login"> Fazer login</a>
                </p>
            </footer>
        </div>
    </section>
</main>